* {
    margin: 0;
    padding: 0;
}
header
{
    width: 100%;
    height: 160px;
    background-image: linear-gradient(rgb(138, 216, 214), rgb(255, 255, 255));
    padding-top: 5px;
    padding-bottom: 10px;
}   
footer {
    width: 100%;
    height: 90px;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(193, 246, 244));
}
h1
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    color: #ffffff;
    text-shadow: 1px 2px 3px #7ebdba;
}
h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #95DCDA;
    padding: 20px;
}
img {
    display: block;
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}
ul {
    padding-bottom: 20px;
    padding-left: 30px;
    font-size: 15.5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #00827e;
}
p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    text-shadow: 1px 1px 3px #6ab7b5;
  }
  emoji-opacity {
    text-align: center;
    font-size: 13px;
    opacity: 0.5;  
  }
  .card {
    width: 75%;
    margin: 40px auto;
    border: 2px solid #e5f4f3;
    box-shadow: 10px 5px 5px #eff9f9;
  }